@import "../../../styles/config.scss";

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-top: 40px;
    z-index: 3;
    @include laptops {
        font-size: 14px;
    }
    @include mobiles {
        margin-top: 40px;
        padding: 0 12px;
    }
}
.logo {
    margin: 0 75px 0 80px;
    @include tablets {
        margin: 0 20px;
    }
    @include laptops {
        margin: 0 30px;
    }
    @include mobiles {
        margin: 0 25px;
    }
}
.contacts {
    display: flex;
    align-items: center;
    @include mobiles {
        display: none;
    }
}
.leftSide {
    display: flex;
    align-items: center;
}
.contactsItem {
    color: $color-white;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.085em;
    margin-right: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    @include tablets {
        font-size: 12px;
        margin-right: 10px;
    }

    @include laptops {
        font-size: 14px;
        margin-right: 10px;
    }
}
.contactsItemIcon {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}
.mainMenuList {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.mainMenuListItem {
    color: $color-white;
    display: block;
    transition: $transition;
    margin-right: 45px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    @include tablets {
        display: none;
    }

    @include laptops {
        display: none;
    }

    @include mobiles {
        display: none;
    }

    &:last-child {
        padding: 23px 38px;
        border: 2px solid $color-yellow-primary-opacity;
        margin-left: 25px;
        margin-right: 0;
        transition: $transition;


        @include tablets {
            display: block;
            padding: 14px;
        }

        @include laptops {
            display: block;
            padding: 14px;
        }

        @include mobiles {
            display: block;
            padding: 20px;
            margin: 0;
            font-size: 12px;
            line-height: 14px;
        }



        &::after {
            content: '';
            height: 100%;
            width: 402px;
            background: linear-gradient(to right, rgba(255, 207, 36, 0), rgba(255, 207, 36, 0.25) 50%, rgba(255, 207, 36, 0));
            position: absolute;
            top: 0;
            left: -403px;

            animation-name: startProjectAfter;
            animation-duration: 10s;
            animation-delay: 7s;
            animation-iteration-count: infinite;
        }
    }
    &:hover {
        color: $color-yellow-primary;
        &:last-child {
            background-color: $color-yellow-primary-opacity;
            color: $color-almost-black;
        }
    }

}

@keyframes startProjectAfter {
    0% {
        left: -403px;
    }
    30% {
        left: 203px;
    }

    100% {
        left: 203px;
    }
}


.ruyou {
    cursor: pointer;
    @include mobiles {
        transform: scale(0.7);
    }
    path {
        fill: $color-white;
        transition: $transition;
    }
    &:hover {
        path {
            fill: $color-yellow-primary;
        }
    }
}

// /* Smartphones (portrait and landscape) ----------- */
// @media only screen
// and (min-device-width : 320px)
// and (max-device-width : 480px) {
//   /* Styles */
// }

// /* Smartphones (landscape) ----------- */
// @media only screen
// and (min-width : 321px) {
//   /* Styles */
// }

// /* Smartphones (portrait) ----------- */
// @media only screen
// and (max-width : 320px) {
//   /* Styles */
// }

// /* iPads (portrait and landscape) ----------- */
// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px) {
//   /* Styles */
// }

// /* iPads (landscape) ----------- */
// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px)
// and (orientation : landscape) {
//   /* Styles */
// }

// /* iPads (portrait) ----------- */
// @media only screen
// and (min-device-width : 768px)
// and (max-device-width : 1024px)
// and (orientation : portrait) {
//   /* Styles */
// }

// /* Desktops and laptops ----------- */
// @media only screen
// and (min-width : 1224px) {
//   /* Styles */
// }

// /* Large screens ----------- */
// @media only screen
// and (min-width : 1824px) {
//   /* Styles */
// }

// /* iPhone 4 - 5s ----------- */
// @media
// only screen and (-webkit-min-device-pixel-ratio : 1.5),
// only screen and (min-device-pixel-ratio : 1.5) {
//   /* Styles */
// }

// /* iPhone 6 ----------- */
// @media
// only screen and (max-device-width: 667px)
// only screen and (-webkit-device-pixel-ratio: 2) {
//   /* Styles */
// }

// /* iPhone 6+ ----------- */
// @media
// only screen and (min-device-width : 414px)
// only screen and (-webkit-device-pixel-ratio: 3) {
//   /*** You've spent way too much on a phone ***/
// }

// /* Samsung Galaxy S7 Edge ----------- */
// @media only screen
// and (-webkit-min-device-pixel-ratio: 3),
// and (min-resolution: 192dpi)and (max-width:640px) {
//  /* Styles */
// }
