@import "../../../styles/config.scss";
.wrapper {
    display: flex;
    user-select: none;
}
.forward,
.back {
    padding: 20px 30px;
    font-size: 16px;
    line-height: 150%;
    color: $color-yellow-primary;
    font-family: Gotham Pro;
    cursor: pointer;
    text-decoration: none;
    transition: $transition;
    @include mobiles {
        padding: 10px 14px;
    }
    @include tablets {
        padding: 10px 14px;
    }
    @include laptops {
        padding: 10px 14px;
    }
}
.forward {
    border: 2px solid $color-yellow-primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:hover {
        background-color: $color-yellow-primary;
        color: $color-white;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.forwardLoader {
    display: none;
    position: absolute;
    width: 65px;
    height: 65px;
    z-index: 4;
}

.forwardLoader span {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    margin: 14px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.forwardLoader span:nth-child(1) {
    animation-delay: -0.45s;
}

.forwardLoader span:nth-child(2) {
    animation-delay: -0.3s;
}

.forwardLoader span:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.forward.loading {
    pointer-events: none;


    .forwardContain {
        opacity: 0;
    }
    .forwardLoader {
        display: inline-block;
    }
}





.back {
    margin-right: 15px;
    &:hover {
        text-decoration: underline;
    }
}
