@import "../../../styles/config.scss";
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // display: none;

    @include mobiles {
        // display: none;
        width: 100%;
        padding: 20px;
    }
}
.sliderHeader {
    width: 100%;
}
.screen {
    width: 100%;
    margin-top: -4px;

    position: relative;
    @include mobiles {
        height: auto;
    }
}
.controlHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $color-white;

    font-size: 20px;
    line-height: 24px;

    width: 200px;
    margin-top: 45px;
    user-select: none;
    @include mobiles {
        margin-top: 10px;
        font-size: 14px;
        line-height: 16px;
    }
}
.screenImage {
    width: 100%;
}
.controlsSteps {
    height: 25px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    transition: $transition;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        border-bottom: solid 1px;
    }
    @include mobiles {
    }
}
.screenSlider {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    transition: $transition;
}
.headerProject {
    width: 100%;
    & * {
        width: 100%;
        height: 100%;
    }
}
