@import "./../../styles/config.scss";

.container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    // opacity: 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    align-self: stretch;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.contactsHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1280px;
}
.headerTitle {
    width: 100%;
    font-size: 64px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: $color-yellow-primary;
    margin-bottom: 66px;
    font-family: Gotham Pro;
}
.contactsItems {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 120px;
    width: 100%;
}
.contactsItem {
    width: 33%;
    margin-bottom: 57px;
}
.contactsCity {
    font-size: 24px;
    line-height: 23px;
    color: $color-yellow-primary;
    font-family: Gotham Pro;
    display: inline-block;
    position: relative;
    cursor: pointer;
    &::after {
        content: url(../../public/yellow-arrow.svg);
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: -15px;
        right: -18px;
    }
    &::before {
        height: 2px;
        width: 0;
        content: "";
        position: absolute;
        background-color: $color-yellow-primary;
        transition: $transition;

        bottom: -6px;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

.contactsAddress,
.contactsMail,
.contactsPhone {
    font-size: 18px;
    line-height: 160%;
    margin-top: 15px;
}

.contactsAddress {
    color: $color-white;
    max-width: 280px;
}
.contactsMail {
    color: $color-yellow-primary;
}
.contactsPhone {
    color: $color-white;
    margin: 0;
}
.sliderHolder {
    width: 100%;
    overflow: hidden;
    @include mobiles {
    }
}
.logoHolder {
    @include mobiles {
        transform: scale(0.5);
    }
}
.slideItem {
    //width: 960px;
    //height: 495px;
    opacity: 0;
    overflow: hidden;
    animation: animateBack 0.6s forwards;
    img {
        width: 100%;
        height: auto;
        @include mobiles {
            padding: 0 10px;
            border-radius: 20px;
            overflow: hidden;
        }
    }

    // @include mobiles {
    //     &:nth-last-child(-n + 2) {
    //         display: none !important;
    //     }
    //     &:last-child() {
    //         display: none !important;
    //     }
    // }
}

.slideItemPrev {
    //width: 960px;
    //height: 495px;
    overflow: hidden;
    animation: animatePrev 0.6s forwards;
    img {
        width: 100%;
        height: auto;
        @include mobiles {
            padding: 0 10px;
            border-radius: 20px;
            overflow: hidden;
        }
    }
}

@keyframes animatePrev {
    100% {opacity: 0; visibility: hidden;}
}

@keyframes animateBack {
    100% {opacity: 1;}
}
.watchProjects {
    font-weight: 300;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;

    font-size: 20px;
    line-height: 24px;
    color: $color-white;
    margin-bottom: 36px;
    cursor: pointer;
    position: relative;

    &::before {
        width: 0;
        height: 0.05px;
        content: "";
        background-color: #ffffff;
        position: absolute;
        bottom: 0;
        transition: $transition;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }

    @include mobiles {
        margin-bottom: 16px;
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        // display: none;
    }
}
.buttonPanel {
    width: 47%;
    margin-top: 94px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    @include tablets {
        margin-top: 20px;
    }
    @include laptops {
        margin-top: 20px;
    }
    @include mobiles {
        // display: none;
        margin-top: 20px;
    }
}
.mouseIcon {
    left: 50%;
    @include mobiles {
        display: none;
    }
}
.mobileMoveIcon {
    display: none;
    @include mobiles {
        display: block;
    }
}
.backButton {
    position: absolute;
    left: 0;

    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: $color-white;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;

    cursor: pointer;

    &::before {
        width: 0;
        height: 0.05px;
        content: "";
        background-color: #ffffff;
        position: absolute;
        bottom: 0;
        transition: $transition;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }

    @include mobiles {
        display: none;
    }
}
.slideIconHolder {
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}
.slideInfoHolder {
    bottom: 40px;
    right: 33px;
    position: absolute;

    display: flex;
    align-items: center;

    color: $color-white;

    font-size: 16px;
    line-height: 19px;

    @include mobiles {
        bottom: 20px;
        right: 30px;
        font-size: 12px;
    }
}
.slideProjName {
    margin-left: 25px;
    font-size: 24px;
    line-height: 140%;
    font-weight: 300;
    font-family: Gotham Pro;
    @include mobiles {
        font-size: 12px;
    }
}
.slideTitle {
    margin-top: 10px;
    position: absolute;
    top: 150px;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
}
.slideInfo {
    position: absolute;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    text-align: center;
}
.bottomLogos {
    display: flex;
    position: absolute;
    bottom: 10px;
    justify-content: space-between;

    @include laptops {
        display: none;
    }
    @include tablets {
        display: none;
    }
    @include mobiles {
        display: none;
    }
}
.bottomLogo {
    height: 50px;
    margin: 0 20px;
}