@import "../../styles/config.scss";

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
}
.projectSection {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: absolute;
}
.main {
}
.infoHolder {
    width: 100%;
    height: 100%;
    max-height: 100vh;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projectPreview {
    width: 100%;
    min-height: 100vh;
    position: relative;

    @include mobiles {
        height: 100vh;
        width: unset;
        overflow: hidden;
    }
}
.projImage {
    width: 100%;
    @include mobiles {
        height: 100%;
        width: initial;
    }
}
.stackList {
    right: 140px;
    bottom: 264px;
    position: absolute;

    @include mobiles {
        display: none;
    }
    @include tablets {
        display: none;
    }
    @include laptops {
        bottom: 60px;
        right: 20px;
        font-size: 14px;
    }
}
.stackListItem {
    display: block;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.55);
    line-height: 140%;
    font-family: Gotham Pro;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
    @include laptops {
        font-size: 14px;
        margin-top: 5px;
    }
}
.projectYear {
    margin-bottom: 25px;
    font-family: Gotham Pro;
    font-weight: normal;
    letter-spacing: 0.05em;
    color: $color-white;
    font-size: 36px;
    line-height: 140%;

    @include mobiles {
        font-size: 18px;
        line-height: 22px;
        margin-top: 30px;
    }
}
.projectDescription {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 24px;
    font-weight: normal;
    font-family: Gotham Pro;
    line-height: 140%;
    max-width: 670px;
    text-align: center;
    min-height: 33px;

    @include mobiles {
        font-size: 16px;
        margin-top: 20px;
    }
}
.pointTitle {
    color: $color-white;
    letter-spacing: 0.05em;
    font-size: 48px;
    line-height: 140%;
    font-family: Gotham Pro;
    margin-bottom: 30px;
    font-weight: 700;

    @include mobiles {
        padding: 0 20px;
        font-size: 24px;
        margin-bottom: 10px;
    }
}
.pointSecondTitle {
    font-size: 25px;
    font-weight: 800;
    line-height: 140%;
    color: $color-white;
    letter-spacing: 0.05em;
    font-family: Gotham Pro;
    margin-bottom: 24px;
    color: $color-white;

    @include mobiles {
        font-size: 18px;
        padding: 0 20px;
    }
}
.pointSecondTitleAdd {
    width: 600px;
    font-family: Lato;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
    color: $color-white;

    @include mobiles {
        width: auto;
    }
}
.mainWrapCentered {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.paragraph {
    max-width: 900px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: $color-white;

    @include mobiles {
        padding: 0 20px;
        font-size: 14px;
    }
}
.paragraphAbout {
    max-width: 900px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: $color-white;
    @include mobiles {
        padding: 0 20px;
        font-size: 14px;
    }
}
.paragraphGotham {
    font-family: Gotham Pro;
    font-weight: normal;
    font-size: 24px;
}
.paragraphInColumn {
    -webkit-column-width: 600px;
    -moz-column-width: 600px;
    column-width: 600px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;

    color: rgba(255, 255, 255, 0.5);

    @include mobiles {
        font-size: 14px;
        padding: 0 20px;
    }
}
.developParams {
    display: flex;
    justify-content: flex-start;

    @include mobiles {
        flex-direction: column;
    }
}
.developParamsHead {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 800;
    color: $color-white;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.05em;
    //margin-bottom: 18px;
}
.developParamsBody {
    font-size: 18px;
    line-height: 160%;
    font-weight: normal;
    color: $color-white;
    margin-bottom: 6px;
}
.developParamsPlus {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: $color-white;
}
.itemHolder {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 140px;
    @include mobiles {
        margin-bottom: 40px;
    }
    @include tablets {
        padding: 0 40px;
    }
    @include laptops {
        padding: 0 40px;
    }
}
.itemHolderFullScreen {
    margin-bottom: 0;
    & + .imageForHuge {
        padding: 0 34px;
        margin-bottom: 140px;
        @include mobiles {
            margin-bottom: 10px;
        }
    }
}
.displaced {
    margin-top: 380px;
    & .pointTitle {
        @include mobiles {
        }
        @include laptops {
            margin-top: 200px;
        }
        @include tablets {
            margin-top: 200px;
        }
    }
    & .addPointTitle {
    }
    & img {
        margin: -380px auto 0;
        display: block;
        width: unset;
        @include mobiles {
            margin-top: -100px;
            width: 100%;
        }
        @include tablets {
            margin-top: -200px;
            width: 100%;
        }

        @include laptops {
            margin-top: -200px;
            width: 100%;
        }
    }
    @include mobiles {
        margin-top: 0;
    }
}
.imageProjectHolder {
    display: flex;
    justify-content: space-between;

    @include mobiles {
        flex-direction: column;
    }
    @include tablets {
    }
    @include laptops {
    }
}
.imageProject {
    @include mobiles {
        margin-bottom: 10px;
        width: 100%;

        &:last-child {
            margin: 0;
        }
    }
    @include tablets {
        margin-bottom: 10px;
        flex-direction: column;
        width: 50%;
    }
    @include laptops {
        margin-bottom: 10px;
        flex-direction: column;
        width: 50%;
    }
}
.projectList {
    padding: 0;
    margin: 0;
}
.projectListItem {
    list-style-position: inside;
    color: $color-white;
    font-size: 18px;
    font-weight: normal;
    line-height: 160%;
    max-width: 900px;
    @include mobiles {
        padding: 0 20px;
        font-size: 14px;
    }
}
.colorMainWrapItem {
    width: 175px;
    height: 80px;
    display: block;
    margin: 20px 7.5px;

    border-radius: 11px;

    @include mobiles {
        width: unset;
        height: 42px;
        margin: 2.5px;
    }
    @include laptops {
        width: 80px;
        height: 62px;
        margin: 5px;
    }
    @include tablets {
        width: 80px;
        height: 62px;
        height: 42px;
    }
}
.colorsWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include mobiles {
        flex-direction: column;
    }
}
.addPointTitle {
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.05em;
    margin-bottom: 63px;
    color: rgba(255, 255, 255, 0.55);

    @include mobiles {
        font-size: 16px;
        padding: 0 20px;
        margin-bottom: 0px;
    }
}
.sideWrap {
    @include mobiles {
        padding: 0 20px;
        margin-bottom: 20px;
    }
}
.sideWrapItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 28px;
    color: $color-white;

    @include mobiles {
        margin-bottom: 22px;
    }
}
.colorSideHolder {
    width: 55px;
    height: 55px;
    border: 1px solid #585858;

    border-radius: 11px;
    display: block;
    margin-right: 16px;
    color: $color-white;
    line-height: 24px;

    @include mobiles {
        width: 35px;
        height: 35px;
    }
}
.mainWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -20px -7.5px;

    max-width: 950px;

    @include mobiles {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        padding: 0 20px;
    }
}
.paragraph {
    margin-bottom: 25px;
    &:last-child {
        margin-bottom: 0;
    }
}

.leftSide {
    width: 50%;
    max-width: 570px;
    color: $color-white;
    margin-right: 90px;
    @include mobiles {
        width: unset;
        padding: 0 20px;
        margin-right: 0;
    }
}
.rightSide {
    color: $color-white;
    padding: 0 20px;
    margin-top: 55px;
}
.fontHolder {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include mobiles {
        flex-direction: column;
    }
}
.fontHeader {
    font-size: 95px;
    line-height: 83px;
    font-weight: bold;
    margin-bottom: 56px;

    @include mobiles {
        font-size: 26px;
        line-height: 22px;
        color: $color-white;
        margin-bottom: 30px;
    }
}
.fontUpperCase,
.fontLowerCase,
.fontNumber {
    max-width: 540px;
    font-size: 38px;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 0.18em;
    font-weight: 400;

    @include mobiles {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 30px;
    }
}
.fontUpperCase {
}
.fontLowerCase {
    text-transform: lowercase;
}
.fontNumber {
    margin-bottom: 0;
}
.fontH1 {
    margin: -35px 0;
}
.fontH2 {
    margin-top: 80px;
}
.fontH3 {
    margin-top: 40px;
}
.fontGroup {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include mobiles {
        margin-bottom: 30px;
    }
}
.fontH1 {
    font-size: 40px;
    line-height: 80px;
    font-weight: bold;
    @include mobiles {
        font-size: 26px;
        line-height: 22px;
        margin: 0 0 25px 0;
    }
}
.fontH2 {
    font-size: 34px;
    line-height: 44px;
    font-weight: bold;

    @include mobiles {
        font-size: 22px;
        line-height: 26px;
    }
}
.fontH3 {
    font-size: 18px;
    line-height: 44px;
    font-weight: bold;
    margin-bottom: 50px;

    @include mobiles {
        font-size: 20px;
        line-height: 26px;
    }
}
.projectDevider {
    height: 1px;
    width: 100%;
    background-color: $color-white;
    margin-top: 140px;
    margin-bottom: 90px;
    @include mobiles {
        width: 80%;
        margin: 20px auto 40px;
    }
}
.nextProject {
    width: 100%;
    height: 515px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    @include mobiles {
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.yearProject {
    font-size: 36px;
    line-height: 140%;
    color: $color-white;
    letter-spacing: 0.05em;
    text-align: center;
    font-family: Gotham Pro;
    font-weight: normal;

    @include mobiles {
        font-size: 14px;
    }
}
.logoProject {
    font-size: 64px;
    line-height: 140%;
    margin-top: 10px;
    font-family: Gotham Pro;
    text-align: center;
    color: $color-white;

    @include mobiles {
        font-size: 32px;
        margin-top: 0;
    }
}
.watchProject {
    bottom: 45px;
    position: absolute;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    color: $color-white;
    cursor: pointer;

    &::before {
        content: "";
        width: 0;
        height: 1px;
        background-color: $color-white;
        position: absolute;
        bottom: -2px;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }

    @include mobiles {
        font-size: 12px;
        line-height: 14px;
        bottom: 20px;
    }
}
.mouseHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 115px;
    margin-bottom: 40px;
    @include mobiles {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.projectLogo {
    @include mobiles {
        transform: scale(0.4);
    }
}
.listProject {
    padding: 0;
    margin: 0;
}
.listProjectItem {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: $color-white;
    list-style-position: inside;
    @include mobiles {
        font-size: 14px;
        padding: 0 20px;
    }
}
.dashedList {
    & .listProjectItem:before {
        content: "- ";
        text-indent: -5px;
    }
    & .listProjectItem {
        list-style-type: none;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 160%;
        color: $color-white;
        list-style-position: inside;
        @include mobiles {
            font-size: 14px;
            padding: 0 20px;
        }
}}
.mobileDesign {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    img {
        padding: 20px;
        max-width: 436px;
        width: 100%;
        height: auto;
    }
    @include mobiles {
        flex-direction: column;
        align-items: center;

        img {
            max-width: 240px;
        }
    }
    @include tablets {
        flex-direction: column;
        align-items: center;
    }
    //@include laptops {
    //    flex-direction: column;
    //}
}

.imageForHuge {
    width: 100%;

    @include mobiles {
        padding: 20px;
    }
}
.imageScheme {
    width: 100%;
    padding: 99px 236px 97px 236px;
    @include mobiles {
        padding: 20px;
    }
}
.imageInModal {
    width: 100%;
}
.prostoFont {
    font-family: "Prosto One", cursive;
    & .fontUpperCase {
        font-size: 32px;
        max-width: 560px;
    }
    & .fontNumber {
        font-size: 32px;
    }
    & .fontLowerCase {
        margin-top: 70px;

        @include mobiles {
            margin-top: 0;
        }
    }
}
.gilroyFont {
    max-width: unset;
    margin-right: 0;
    & .fontLowerCase {
        margin-top: 80px;

        @include mobiles {
            margin-top: 0;
        }
    }
}
.functionalColumns {
    display: flex;
    justify-content: space-between;
    @include mobiles {
        flex-direction: column;
        padding: 0 20px;
    }
}
.functionalColumnsHeader {
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: $color-white;
    margin-bottom: 30px;
    @include mobiles {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 0;
    }
}
.functionalColumnsText {
    font-size: 18px;
    line-height: 160%;
    font-weight: normal;
    color: $color-white;
    max-width: 543px;
    margin-bottom: 15px;
    font-family: Lato;

    @include mobiles {
        font-size: 14px;
    }
}
.functionalColumnsList {
    padding: 0;
    padding-left: 20px;
    margin: 0;
    color: $color-white;
    font-family: Lato;
    font-size: 18px;
    line-height: 160%;
    font-weight: normal;

    @include mobiles {
        font-size: 14px;
    }
}
.logoProjectForTape {
    margin-bottom: 60px;

    @include mobiles {
        max-width: 300px;
        margin-left: 20px;
    }
}