@import "../../../../styles/config.scss";

.wrapper {
    position: relative;

    display: flex;
    @include mobiles {
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}
.description {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: $color-white;
    margin-bottom: 10px;
    text-align: center;
}
.formats {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: $color-white;
    text-align: center;
}
.fileDropper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}
.dropCloudIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.frameForDropping {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    float: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #e0e0e0;

    &.active {
        background: rgba(253, 196, 0, 0.1);
        border: 2px dashed $color-yellow-primary;
    }
}
.hiddenInput {
    opacity: 1;
    z-index: -1;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.openDialogWindowLabel {
    color: $color-yellow-primary;
    cursor: pointer;

    font-size: 25px;
    line-height: 150%;
    font-family: Gotham Pro;
    @include mobiles {
        font-size: 16px;
    }
}
.uploadedFilesList {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 44px -20px 0;
    @include mobiles {
        margin: 0;
        padding: 0 20px;
    }
}
.uploadedFile {
    color: $color-white;
    letter-spacing: 0.05em;
    font-size: 18px;
    line-height: 120%;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    @include mobiles {
        font-size: 14px;
    }
}
.checkMarkHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: $color-yellow-primary;
    margin-left: 15px;
    @include mobiles {
        width: 18px;
        height: 18px;
    }
}
.plusIcon {
    margin-left: 32px;
}
