@import "./../../styles/config.scss";
.wrapper {
    // opacity: 1;
}
.bodyWrapper {
    width: 100%;
    background-color: $color-background;
}
.bodyCentered {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 150px 0;
    @include mobiles {
        padding: 20px 0;
    }
    @include laptops {
        padding: 20px 0;
    }
    @include tablets {
        padding: 20px 0;
    }
}
.servicesTitle {
    font-family: Gotham Pro;
    font-size: 48px;
    line-height: 110%;
    color: $color-back-primary;
    max-width: 900px;
    @include laptops {
        font-size: 36px;
        padding: 0 20px;
    }
    @include tablets {
        font-size: 36px;
        padding: 0 20px;
    }
    @include mobiles {
        font-size: 26px;
        padding: 0 20px;
        line-height: 42px;
    }
}
.servicesSmallTitle {
    font-family: Gotham Pro;
    font-size: 25px;
    line-height: 112%;
    color: $color-back-primary;
    @include laptops {
        font-size: 18px;
        padding: 0 20px;
    }
    @include tablets {
        font-size: 18px;
        padding: 0 20px;
    }
    @include mobiles {
        padding: 0 12px;
        font-size: 18px;
    }
}
.servicesSimpleText {
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    max-width: 900px;
    margin: 0;
    margin-bottom: 15px;

    color: $color-back-primary;
    @include laptops {
        font-size: 18px;
        padding: 0 20px;
    }
    @include tablets {
        font-size: 18px;
        padding: 0 20px;
    }
    @include mobiles {
        padding: 0 20px;
    }
}
.servicesImageWrapper {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: 50px 0;
    @include laptops {
        margin: 20px 0;
    }
    @include tablets {
        margin: 20px 0;
    }
    @include mobiles {
        margin: 20px 0;
    }
}
.servicesImageTitle {
    font-size: 25px;
    line-height: 112%;
    color: $color-back-primary;
    font-family: Gotham Pro;
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    @include laptops {
        font-size: 20px;
        padding: 0 20px;
        margin-bottom: 10px;
    }
    @include tablets {
        font-size: 20px;
        padding: 0 20px;
        margin-bottom: 10px;
    }
    @include mobiles {
        padding: 0 20px;
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 10px;
    }
}
.servicesImage {
    width: 100%;
    @include laptops {
        padding: 0 20px;
    }
    @include tablets {
        padding: 0 20px;
    }
}
.servicesImageDescription {
    margin: 0;
    margin-top: 15px;
    font-family: Gotham Pro;
    color: $color-back-primary;
    font-size: 20px;
    line-height: 22px;

    font-weight: 700;

    @include laptops {
        padding: 0 20px;
    }
    @include tablets {
        padding: 0 20px;
    }
    @include mobiles {
        padding: 0 12px;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
}
.servicesHeadHeading {
    font-weight: 700;
    font-size: 25px;
    line-height: 112%;
    margin: 12px 0;
    padding-right: 10px;
    @include laptops {
        font-size: 18px;
        padding: 0 20px;
    }
    @include tablets {
        font-size: 18px;
        padding: 0 20px;
    }
    @include mobiles {
        font-size: 18px;
        padding: 0 20px;
    }
}
.servicesList {
    margin: 0;
    padding-left: 20px;
    @include mobiles {
        padding: 0 12px 20px 12px;
    }
    @include laptops {
        padding: 0 40px;
    }
    @include tablets {
        padding: 0 40px;
    }
}
.schemeImage {
    margin-top: 50px;
    margin-bottom: 164px;
    @include mobiles {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.schemeImageScheme {
    @include mobiles {
        transform: scale(0.5);
    }
}
.servicesListItem {
    font-family: Lato;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: $color-back-primary;
    max-width: 900px;
    @include mobiles {
        list-style-position: inside;
        padding: 0 10px;
        font-size: 16px;
    }
}

p.servicesListItem {
    @include laptops {
        padding: 0 20px;
    }
    @include tablets {
        padding: 0 20px;
    }

}
.servicesListItemMobile {
    @include mobiles {
        padding: 0 10px;
    }
}
.servicesNameBlock {
    width: 140px;
    height: 55px;
    border: 1px solid #000000;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.servicesTextCols {
    column-width: 48%;
    column-count: 2;
    column-gap: 4%;

    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: $color-back-primary;
    margin-bottom: 50px;
    @include laptops {
        padding: 0 20px;
    }
    @include tablets {
        padding: 0 20px;
    }
    @include mobiles {
        column-count: 1;
        padding: 0 12px;
    }
}
.formHolder {
    margin-bottom: 118px;
}
.mobileOtherServices {
    display: none;
    padding: 50px 20px;
    background-color: $color-back-primary;
    @include mobiles {
        display: block;
    }
}
.mobileOtherServicesTitle {
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: $color-white;
    font-family: Gotham Pro;
    margin-bottom: 25px;
}
.mobileOtherServicesItem {
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 20px;
    color: $color-white;
    &:last-child {
        margin-bottom: 0;
    }
    &.active {
        color: $color-yellow-primary;
    }
}
.servicesHugeTitle {
    font-weight: 500;
    line-height: 53px;
    font-size: 48px;
}
.headerStyle {
    position: relative;
    z-index: 1;
}
.imgStyle {
    position: absolute;
    z-index: 0;
    max-width: 80vw;
}
.bodyStyle {
    position: relative;
    z-index: 0
}
