@import "../../../styles/config.scss";

.root {
}

.outLabel {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 7px;
}

.selectList {
    position: absolute;
    width: 100%;
    top: 44px;
    background: $color-back-primary;

    max-height: 200px;
    overflow-y: auto;

    padding: 10px 0;

    z-index: 10;

    box-sizing: border-box;
    border-top: 0;

    li {
        height: 46px;
        padding: 10px 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 46px;

        display: flex;
        align-items: center;

        color: $color-white;

        &:hover {
            background-color: rgba(255, 207, 36, 0.1);
        }
    }
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 18px;
    color: $color-white;
    transform: translate(22px, 22px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        font-size 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        line-height 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        opacity 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.requiredIndicator {
    color: #ff8414;
}

.valueHolder {
    padding: 0 18px;
    height: 63px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 63px;
    display: block;
    align-items: center;
    box-sizing: unset;
    color: $color-white;
    flex: 1 1 0;
}

.notch {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    transform: translate(10px, -8px);
    background: $color-back-primary;
    max-width: 0.01px;
    box-sizing: border-box;
}
.notchContainer {
    visibility: hidden;
    padding: 1px 6px;
}

.opened {
    & .valueHolder {
        color: $color-white;
    }
    & .selectList {
        padding-top: 0;
        border-bottom: 1px solid $color-yellow-primary;
        border-left: 1px solid $color-yellow-primary;
        border-right: 1px solid $color-yellow-primary;
    }
    .arrow {
        transform: rotate(-180deg);
    }
    //.label {
    //    font-size: 12px;
    //    line-height: 14px;
    //    opacity: 1;
    //    transform: translate(16px, -7px);
    //}
    //.notch {
    //    max-width: 82%;
    //}
}

.selectWrap {
    position: relative;

    user-select: none;
}

.control {
    display: flex;
    border: 1px solid $color-yellow-primary;
    cursor: pointer;
}

.arrowContainer {
    width: 70px;
    height: 63px;
    background: rgba(255, 207, 36, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.filled {
    color: $color-white;

    .valueHolder {
        border-color: $color-yellow-primary;
    }

    .label {
        font-size: 12px;
        line-height: 14px;
        //color: $color-font-color;
        transform: translate(16px, -7px);
        opacity: 1;
    }
    .notch {
        max-width: 82%;
    }
}

.error {
    .helperText {
        color: #ff6767;
    }
    .control {
        border-color: #ff6767;
    }
    .selectList {
        border-color: #ff6767;
    }
}

.labelVisible {
    opacity: 1;
}

.disabled {
    cursor: default;
    .label {
        cursor: default;
    }
    .valueHolder {
        cursor: default;
        border-color: #73bbe3;
        background-color: #f9f9ff;
    }
}

.helperText {
    font-size: 12px;
    line-height: 14px;
    padding: 8px 18px;
}
.placeholder {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.someText {
    max-width: calc(100% - 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
