@import "../../../styles/config.scss";

.fontHeader {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 95px;
    line-height: 83px;
    margin-bottom: 57px;

    @include mobiles {
        font-size: 26px;
        line-height: 22px;
        color: $color-white;
        margin-bottom: 30px;
    }
}
.fontUpperCase,
.fontLowerCase,
.fontNumber {
    max-width: 560px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.11em;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 40px;

    @include mobiles {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 30px;
    }
}
.fontUpperCase {
}
.fontLowerCase {
    text-transform: lowercase;
}
.fontNumber {
    margin-bottom: 0;
}
.fontHdr {
    font-size: 40px;
    font-weight: 700;
    margin: -30px 0;
    margin-bottom: 44px;
    line-height: 80px;
}
.fontTitle {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 44px;
}
.fontSubtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 44px;
    margin-bottom: 40px;
}
.bodyOne {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    color: $color-white;
    margin-bottom: 40px;
    }
.bodyTwo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 44px;
    color: $color-white;
    margin-bottom: 40px;
}
.button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 44px;
    color: $color-white;
}