@import "./../../styles/config.scss";
.container {
}
.viewportDescription,
.viewportClients,
.viewportInfo,
.viewportTeam {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.viewportDescription {
}
.viewportClients,
.viewportInfo,
.viewportTeam {
    height: unset;
}
.viewportTeam {
    margin-bottom: 190px;
    @include mobiles {
        margin-bottom: 0;
    }
}
.viewportClients {
    margin-top: 274px;
    flex-direction: column;
    @include mobiles {
        margin-top: 30px;
    }
}
.goldText {
    color: $color-yellow-primary;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.05em;
    //font-family: Gotham Pro;
    text-align: center;
}
.titleMain {
    color: $color-white;
    letter-spacing: 0.05em;
    font-size: 64px;
    line-height: 140%;
    font-weight: 300;
    //font-family: Gotham Pro;
    text-align: center;

    @include mobiles {
        font-size: 32px;
    }
}
.header {
    color: $color-white;
    letter-spacing: 0.05em;
    font-family: Gotham Pro;
    font-size: 48px;
    line-height: 140%;
    @include mobiles {
        padding: 0 20px;
        font-size: 24px;
    }
}
.companyMissionHeader {
    color: $color-white;
    letter-spacing: 0.05em;
    font-size: 18px;
    line-height: 140%;
    //font-family: Gotham Pro;
    margin-bottom: 30px;
    @include mobiles {
        margin-bottom: 10px;
    }
}
.companyMissionText {
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: $color-white;
    @include mobiles {
        font-size: 16px;
        margin: 0;
    }
}
.frameMission {
    padding: 90px;
    border: 1px solid $color-yellow-primary;
    margin-top: 90px;
    margin-bottom: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include mobiles {
        margin: 20px;
        padding: 10px;
        align-items: flex-start;
    }
}
.centerAlignment {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    @include mobiles {
    }
    @include tablets {
        padding: 0 40px;
    }
    @include laptops {
        padding: 0 40px;
    }
}
.paragraph {
    color: $color-white;
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
    max-width: 900px;
    @include mobiles {
        padding: 0 20px;
        font-size: 14px;
    }
}
.paragraphFacts {
    color: $color-white;
    letter-spacing: 0.05em;
    font-size: 25px;
    line-height: 140%;
    margin-top: 90px;
    margin-bottom: 30px;
    @include mobiles {
        margin-top: 10px;
        padding: 0 20px;
        margin-bottom: 4px;
    }
}
.paragraphClients {
    color: $color-white;
    letter-spacing: 0.05em;
    font-size: 25px;
    line-height: 140%;
    max-width: 700px;
    @include mobiles {
        font-size: 14px;
        padding: 0 20px;
        line-height: 160%;
    }
    @include tablets {
        font-size: 14px;
        padding: 0 20px;
        line-height: 18px;
    }
    @include laptops {
        font-size: 20px;
        padding: 0 20px;
        line-height: 24px;
    }
}
.factHolder {
    display: flex;
    @include mobiles {
        flex-direction: column;
        padding: 0 20px;
        margin-top: 10px;
    }
}
.tapeLine {
    width: 100%;
    height: 200px;
    margin-top: 130px;
    overflow: hidden;
    @include mobiles {
        margin-top: 10px;
        height: unset;
    }
}
.flexRow {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    @include mobiles {
        flex-direction: column;
    }
}
.teamHolder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    @include mobiles {
        display: flex;
        flex-direction: column;
    }
    @include laptops {
        grid-gap: 10px;
    }
    @include tablets {
        grid-gap: 10px;
    }
}
.mouseHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 46px;
    @include mobiles {
        display: none;
    }
}
