@import "../../../styles/config.scss";
.wrapper {
    width: 290px;
    height: 270px;
    padding: 25px;
    border: 1px solid $color-white;
    margin-right: 40px;
    position: relative;

    @include mobiles {
        width: 90%;
        height: unset;
        margin: 0 auto 40px;
    }

    &::after {
        width: 40px;
        height: 1px;
        content: "";
        background-color: $color-white;
        position: absolute;
        top: 135px;
        right: -40px;
        @include mobiles {
            height: 40px;
            width: 1px;
            background-color: $color-white;
            bottom: -40px;
            left: 50%;
            top: unset;
        }
    }
    &:last-child {
        @include mobiles {
            margin-bottom: 0;
        }
        &::after {
            display: none;
        }
    }
}
