@import "../../../styles/config.scss";
.wrapper {
    margin-top: 45px;
    border: 1px solid $color-yellow-primary;
    padding: 95px 190px;
    @include mobiles {
        padding: 20px;
        margin: 20px;
    }
}
.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.reviewUser {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}
.name {
    color: $color-white;
    font-size: 25px;
    line-height: 140%;
    font-family: Gotham Pro;
    letter-spacing: 0.05em;
}
.secondName {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    color: $color-white;
}
.avatarImage {
    width: 100%;
    height: 100%;
}
.paragraph {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;

    color: $color-white;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
    @include mobiles {
        font-size: 14px;
    }
}
