@import "../../../styles/config.scss";
.wrapper {
    flex: 1;
    max-width: 1280px;
    margin-left: 180px;

    width: 100%;
    @include mobiles {
        margin: 0 20px;
    }
    @include laptops {
        margin-left: 90px;
    }
    @include tablets {
        margin-left: 80px;
    }
}
.stepLabel {
    font-size: 18px;
    line-height: 150%;
    height: 27px;
    color: rgba(255, 255, 255, 0.4);
    font-family: Gotham Pro;
    margin-bottom: 18px;
    @include mobiles {
        font-size: 16px;
        line-height: 18px;
    }

}
.stepContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    @include mobiles {
        flex-direction: column;
        align-items: flex-start;
    }
}

.formGroup {
    display: flex;
    align-items: center;
    padding: 0 5px;

    @include mobiles {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }
}

.formGroupLabel {
    font-size: 25px;
    line-height: 150%;
    color: #FFCF24;
    margin-right: 8px;

    @include mobiles {
        font-size: 20px;
    }
}

.inputHolder {
    flex: 1;
    margin: 20px 0;

    @include mobiles {
        margin: 10px 0;
    }
}
.stepClickerHolder {
    margin-top: 80px;

    @include laptops {
        margin-top: 50px;
    }
    @include tablets {
        margin-top: 50px;
    }
    @include mobiles {
        margin-top: 20px;
    }
}








.rows {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    max-width: 1280px;
    margin: 0 -5px;
    margin-bottom: 60px;
    &:last-child {
        margin-bottom: 0;
    }
    @include mobiles {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        width: 100%;
        padding: 0 20px;
    }
    @include tablets {
        padding: 0 40px;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        width: 100%;
    }
    @include laptops {
        padding: 0 40px;
    }
}
.additionalText {
    color: $color-yellow-primary;
    font-size: 25px;
    line-height: 30px;
    font-family: Gotham Pro;
    @include mobiles {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }
    @include tablets {
        font-size: 14px;
        line-height: 30px;
    }
    @include laptops {
        font-size: 14px;
        line-height: 30px;
    }
}
.cols {
    flex: 1;
    display: flex;
    margin: 0 5px;
    @include mobiles {
        flex-direction: column;
        width: 100%;
        margin: 0 0 30px;
    }
    @include tablets {
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        margin: 0 0 30px;
    }
    @include laptops {
    }
}
.formHolder {
    // display: flex;
    max-width: 1280px;
    flex-wrap: wrap;
    padding: 50px 0;
}


.stepHolder {
    max-width: 1020px;
}
.dropFilesHolder {
    padding: 20px 0;
    flex: 1 1 0;
    @include tablets {
        padding: 30px 60px;
    }
    @include laptops {
        padding: 20px 60px;
    }
}

.finish {
    color: #FFCF24;
    font-size: 40px;
    padding-bottom: 50px;

    @include mobiles {
       font-size: 26px;
    }
}
.finishSmilesGroup {
    display: inline-block;
}
