@import "../../../styles/config.scss";
.wrapper {
}
.fullScreen {
}
.slide {
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textSlide {
    color: $color-white;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    margin-left: 12px;
    max-width: 222px;
}
