@import "../../../../styles/config";

.root {
    width: 400px;

    @include mobiles {
        width: 260px;
    }
}

.outLabel {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 7px;
}

.base {
    position: relative;
    background: $color-back-primary;
    border-bottom: 1px solid $color-yellow-primary;
}

.label {
    position: absolute;
    top: 4px;
    left: 1px;

    font-size: 18px;
    line-height: 18px;
    color: #ababab;
    transform: translate(19px, 2px);

    z-index: 1;
    pointer-events: none;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        font-size 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        line-height 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    @include mobiles {
        font-size: 14px;
        left: 0;
        transform: translate(0px, 2px);
    }
}

.requiredIndicator {
    color: #ff8414;
}

.input {
    width: 100%;
    height: 30px;
    font-size: 18px;
    background: transparent;
    padding: 16px 20px;
    line-height: 30px;
    outline: none;
    border: 0;
    color: $color-white;
    @include mobiles {
        padding: 0;
    }
}

.notch {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    transform: translate(10px, -9px);
    background: $color-back-primary;
    max-width: 0.01px;
    box-sizing: border-box;
}
.notchContainer {
    visibility: hidden;
    padding: 1px 6px;
}

.filled {
    .label {
        display: none;
    }
    .notch {
        display: none;
    }
}

.helperText {
    font-size: 12px;
    line-height: 14px;
    padding: 8px 18px;
    position: absolute;

    @include mobiles {
        padding-left: 0;
    }
}

.error {
    .base {
        border-color: #ff6767;
    }
    .helperText {
        color: #ff6767;
    }
}

.disabled {
    pointer-events: none;
    .base {
        border-color: #73bbe3;
        background-color: #f9f9ff;
    }
}
