@import "../../../styles/config.scss";
.wrapper {
    overflow: hidden;
    position: relative;
    &:hover {
        .nameHolder {
            opacity: 1;
            left: 0;
        }
    }
}
.nameHolder {
    position: absolute;
    left: -100%;
    bottom: 30px;
    background-color: $color-yellow-primary;
    padding: 15px 25px;
    opacity: 0;
    transition: $transition;
    @include mobiles {
        padding: 4px 8px;
        opacity: 1;
        left: 0;
    }
    @include laptops {
        padding: 4px 8px;
    }
    @include tablets {
        padding: 4px 8px;
        opacity: 1;
        left: 0;
    }
}
.name,
.workPlace {
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #161616;
    @include mobiles {
        font-size: 14px;
    }
    @include tablets {
        font-size: 14px;
    }
    @include laptops {
        font-size: 14px;
    }
}
.workPlace {
    font-size: 20px;
}
.image {
    width: 100%;
    @include mobiles {
        padding: 0 20px;
    }
}
