@import "../../../styles/config.scss";
.wrapper {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @include mobiles {
        height: 80vh;
    }
}

.figure {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    overflow: hidden;

    svg {
        @include mobiles {
            width: 80%;
        }
    }
}

.headHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
    position: relative;
    overflow: hidden;
}
.sideSwitcher {
    position: absolute;
    right: 50px;
    z-index: 1;
    @include mobiles {
        display: none;
    }
}
.sideSwitcherList {
    padding: 0;
    margin: 0;
}
.sideSwitcherListItem {
    display: block;

    font-size: 16px;
    line-height: 19px;

    color: $color-white;

    margin-bottom: 25px;

    cursor: pointer;
    &.active {
        color: $color-yellow-primary;
    }
}
.hugeTitle {
    font-family: Gotham Pro;
    font-size: 64px;
    line-height: 140%;
    letter-spacing: 0.05em;
    font-weight: 300;
    color: $color-white;
    text-align: center;
    white-space: pre-line;
    span {
        color: $color-yellow-primary;
    }
    @include laptops {
        font-size: 32px;
        max-width: 600px;
    }
    @include tablets {
        max-width: 500px;
        font-size: 32px;
    }
    @include mobiles {
        font-size: 32px;
        padding: 0 20px;
    }
}
.centerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.toMainButton {
    position: absolute;
    bottom: 50px;

    font-weight: 300;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: 0.05em;
    text-decoration: underline;
    font-family: Gotham Pro;

    color: $color-white;

    cursor: pointer;
}
