@import "../../../styles/config.scss";
.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: $transition;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    @include mobiles {
        position: fixed;
    }
}
.cityWrapper {
    width: 100%;
    max-width: 1180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: $color-back-primary;
    @include mobiles {
        //align-items: flex-start;
    }
    @include laptops {
        max-width: 900px;
    }
    @include tablets {
        font-size: 20px;
        max-width: unset;
    }
}
.mapHolder {
    width: 1040px;
    height: 560px;
    @include laptops {
        width: 100%;
        padding: 0 20px 0;
    }
    @include tablets {
        width: 100%;
        padding: 0 20px 0;
    }
    @include mobiles {
        width: 100%;
        padding: 40px 20px 0;
    }
}
.mapContainer {
    width: 100%;
    height: 500px;
    @include mobiles {
        height: 300px;
    }
}
.cityInfoHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
    @include mobiles {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    @include laptops {
        margin-bottom: 10px;
    }
    @include tablets {
        margin-bottom: 10px;
    }
}
.cityLabel {
    font-family: Gotham Pro;
    color: $color-yellow-primary;
    font-weight: 300;
    font-size: 45px;
    letter-spacing: 0.05em;
    max-width: 250px;
    @include mobiles {
        font-size: 22px;
        margin-bottom: 10px;
    }
    @include laptops {
        font-size: 30px;
        margin-bottom: 10px;
    }
    @include tablets {
        font-size: 30px;
        margin-bottom: 10px;
    }
}
.cityAddress {
    color: $color-white;
    line-height: 160%;
    font-size: 18px;
    max-width: 250px;
    @include mobiles {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }
}
.cityContacts {
    .mail,
    .phone {
        font-size: 18px;
        line-height: 160%;
        color: $color-yellow-primary;
        @include mobiles {
            font-size: 14px;
        }
    }
    .phone {
        color: $color-white;
    }
}
.closeButton {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50px;
    right: 50px;
    overflow: hidden;

    cursor: pointer;

    @include mobiles {
        width: 24px;
        height: 24px;
        top: 20px;
        right: 20px;
    }
    &::after,
    &::before {
        width: 130%;
        height: 1px;
        display: block;
        content: "";
        background-color: $color-white;
        transform: rotate(45deg);
        top: 16px;
        left: -6px;
        position: absolute;
        transition: $transition;
        @include mobiles {
            top: 10px;
            left: -4px;
        }
    }
    &::before {
        transform: rotate(-45deg);
    }
    &:hover {
        &::after,
        &::before {
            background-color: $color-yellow-primary;
        }
    }
}
