@import "../../../styles/config.scss";
.linkSocialHolder {
    position: absolute;
    left: 50px;

    @include laptops {
        bottom: 5px;
    }
    @include tablets {
        bottom: 5px;
    }
    @include mobiles {
        bottom: 5px;
        left: auto;
        right: 50px;
    }
}
.linkSocialItem {
    color: $color-yellow-primary;
    font-size: 16px;
    line-height: 19px;
    &:first-child {
        margin-bottom: 45px;
    }
    &:hover {
    }
}
