@import "../../../styles/config.scss";
.wrapper {
    width: 100%;
    margin-bottom: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px 0;
    @include mobiles {
        padding: 60px 24px;
        margin: 0 12px 20px;
        width: unset;
    }
    @include tablets {
    }
    @include laptops {
    }

    .quotesText {
        text-align: center;
        position: relative;
        font-size: 25px;
        list-style: 150%;
        font-weight: 900;
        padding: 0 50px;
        margin: 0;
        &::before,
        &::after {
            content: url(../../../public/quotes-icon.svg);
            //content: '"';
            position: absolute;
            top: -28px;
            @include mobiles {
            }
        }
        &::before {
            left: 5px;
        }
        &::after {
            right: 5px;
        }
        @include mobiles {
            font-size: 18px;
            padding: 0 30px;
            //&::before {
            //    left: -2px;
            //}
            //&::after {
            //    right: -2px;
            //}
        }
        @include tablets {
            font-size: 18px;
            //&::before {
            //    left: -2px;
            //}
            //&::after {
            //    right: -2px;
            //}
        }
        @include laptops {
            font-size: 18px;
            //&::before {
            //    left: -2px;
            //}
            //&::after {
            //    right: -2px;
            //}
        }
    }
}
.yellow {
    &.wrapper {
        background-color: $color-yellow-primary;
        color: $color-back-primary;
        .quotesText {
            &::before,
            &::after {
                //content: '"';
                content: url(../../../public/quotes-black-icon.svg);
            }
        }
    }
}

.black {
    &.wrapper {
        background-color: $color-back-primary;
        color: $color-yellow-primary;
    }
}
