@import "../../../styles/config.scss";
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.goldTitle {
    font-size: 25px;
    line-height: 140%;
    color: $color-yellow-primary;
    text-align: center;
}
.mainTitle {
    font-size: 64px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: $color-white;
    text-align: center;
}
