@import "../../../styles/config.scss";
.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    @include mobiles {
        //display: none;
    }
}
.fullScreen {
}
.objectFeeller {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        @include mobiles {
            width: 80%;
        }
    }

}
.figure {
}
