@import "../../../styles/config.scss";

.fontHeader {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 83px;
    margin-bottom: 90px;

    @include mobiles {
        font-size: 26px;
        line-height: 22px;
        color: $color-white;
        margin-bottom: 30px;
    }
}
.fontUpperCase,
.fontLowerCase,
.fontNumber {
    max-width: 560px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.11em;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 40px;

    @include mobiles {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 30px;
    }
}
.fontUpperCase {
    letter-spacing: 0.1em;
}
.fontLowerCase {
    text-transform: lowercase;
}
.fontNumber {
    margin-bottom: 0;
}