@import "../../../../styles/config.scss";

.root {
    display: inline-block;
    width: 400px;

    @include mobiles {
        width: 260px;
    }
}

.outLabel {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 7px;
}

.selectList {
    position: absolute;
    width: 100%;
    top: 18px;

    max-height: 286px;
    overflow-y: auto;

    scrollbar-color: #458245; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: 2px;

    padding: 12px 0;

    z-index: 10;

    box-sizing: border-box;
    border-top: 0;

    background: #373737;
    border-radius: 10px;

    /* полоса прокрутки (скроллбар) */
    &::-webkit-scrollbar {
        width: 2px; /* ширина для вертикального скролла */
        height: 68px; /* высота для горизонтального скролла */
        background-color: transparent;
        padding-right: 16px;
    }

    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
        width: 2px;
        border-radius: 2px;
        background-color: $color-yellow-primary;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #253861;
    }

    /* Стрелки */
    &::-webkit-scrollbar-button:vertical:start:decrement {
        background-color: transparent;
    }

    &::-webkit-scrollbar-button:vertical:end:increment {
        background-color: transparent;
    }

    &::-webkit-scrollbar-button:horizontal:start:decrement {
        background-color: transparent;
    }

    &::-webkit-scrollbar-button:horizontal:end:increment {
        background-color: transparent;
    }

    li {
        height: 48px;
        padding: 10px 18px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;

        display: flex;
        align-items: center;

        color: #FFCF24;

        &:hover {
        }
    }
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 18px;
    color: #ababab;
    transform: translate(18px, 5px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        font-size 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        line-height 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        opacity 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    @include mobiles {
        font-size: 14px;
        transform: translate(0px, 5px);
    }
}

.requiredIndicator {
    color: #ff8414;
}

.valueHolder {
    padding: 0 18px;
    height: 30px;
    border-bottom: 1px solid $color-yellow-primary;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: block;
    align-items: center;
    box-sizing: unset;
    color: #ffffff;

    @include mobiles {
        padding-left: 0;
    }
}

.notch {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    transform: translate(10px, -8px);
    background: $color-back-primary;
    max-width: 0.01px;
    box-sizing: border-box;
}
.notchContainer {
    visibility: hidden;
    padding: 1px 6px;
}

.opened {
    & .valueHolder {
        //border: 1px solid $color-yellow-primary;
        //border-bottom-color: transparent;
        color: $color-white;
    }
    & .selectList {
        //padding-top: 0;
    }
    .arrow {
        transform: rotate(-180deg);
    }
    //.label {
    //    font-size: 12px;
    //    line-height: 14px;
    //    opacity: 1;
    //    transform: translate(16px, -7px);
    //}
    //.notch {
    //    max-width: 82%;
    //}
}

.selectWrap {
    position: relative;

    user-select: none;
}

.arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.filled {
    color: $color-white;

    .valueHolder {
        border-color: $color-yellow-primary;
    }

    //.label {
    //    font-size: 12px;
    //    line-height: 14px;
    //    //color: $color-font-color;
    //    transform: translate(16px, -7px);
    //    opacity: 1;
    //}
    //.notch {
    //    max-width: 82%;
    //}
}

.error {
    .helperText {
        color: #ff6767;
    }
    .valueHolder {
        border-color: #ff6767;
    }
    .selectList {
        border-color: #ff6767;
    }
}

.labelVisible {
    opacity: 1;
}

.disabled {
    cursor: default;
    .label {
        cursor: default;
    }
    .valueHolder {
        cursor: default;
        border-color: #73bbe3;
        background-color: #f9f9ff;
    }
}

.helperText {
    font-size: 12px;
    line-height: 14px;
    padding: 8px 18px;
    position: absolute;
}
.placeholder {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ABABAB;
}
.someText {
    max-width: calc(100% - 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-white;
}
