@import "../../../styles/config.scss";
.wrapper {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.infoHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    align-self: stretch;
    justify-content: center;
    position: relative;
    background-color: cornflowerblue;
}
.infoSlideHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all 0.6s ease-out;
    max-width: 1280px;
}
.infoSlidesHolder {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    flex: 1;
    width: 100%;
    position: relative;
    @include mobiles {
        margin: 0;
    }
}

.textHolder {
    text-align: center;
    font-weight: 300;
    font-size: 64px;
    line-height: 140%;
    letter-spacing: 0.05em;
    padding: 0;
    margin: 0;
    font-family: "Gotham Pro", sans-serif;
    color: $color-white;
    white-space: pre-line;

    @include laptops {
        font-size: 44px;
    }

    @include tablets {
        font-size: 44px;
    }

    @include mobiles {
        font-size: 33px;
        font-weight: 300;
        line-height: 140%;
        padding: 0 20px;
    }
}
.infoGoldHeader {
    color: $color-yellow-primary;
    position: relative;
    cursor: pointer;
    &::after {
        content: url("./../../../public/yellow-arrow.svg");
        display: flex;
        width: 40px;
        position: absolute;
        top: -40px;
        right: -34px;
        @include mobiles {
            display: none;
        }
    }
    &::before {
        content: "";
        height: 2px;
        width: 0;
        background-color: $color-yellow-primary;
        position: absolute;
        bottom: 0;
        transition: $transition;
        animation: line 2s;
    }
    &:hover {
        &::before {
            width: 100%;
        }
    }

    @keyframes line {
        from { width: 0%; }
        to { width: 100%; }
    }
}
.arrowIcon {
    margin-bottom: 30px;
}
.infoSecondaryHeader {
}
.mouseIcon {
    position: absolute;
    bottom: 0;
    @include mobiles {
        display: none;
    }
}
.mobileMoveIcon {
    bottom: 30px;
    position: absolute;
    display: none;
    @include mobiles {
        display: block;
    }
}
