@import "../../../styles/config.scss";

.wrapper {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    @include mobiles {
        width: 30px;
        height: 30px;
    }
    span {
        width: 50px;
        height: 2px;
        position: absolute;
        display: block;
        background-color: $color-white;
        top: 16px;
        transition: $transition;
        @include mobiles {
            width: 30px;
            top: 6px;
        }
    }
    span:last-child {
        top: 24px;
        @include mobiles {
            top: 12px;
        }
    }
    &.opened {
        span {
            top: 22px;
        }
        span:first-child {
            transform: rotate(45deg);
        }
        span:last-child {
            transform: rotate(-45deg);
        }
    }
    &:hover {
        span {
            background-color: $color-yellow-primary-opacity;
        }
    }
}
