@import "./../../styles/config.scss";
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    width: 100%;
}
.footerWrap {
    width: 100%;
}


