@import "../../../styles/config.scss";

.wrapper {
    height: 125px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;

    display: flex;
}
.description {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: $color-white;
    margin-bottom: 10px;
    text-align: center;
    @include mobiles {
        display: none;
    }
}
.formats {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: $color-white;
    text-align: center;
}
.fileDropper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}
.dropCloudIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.frameForDropping {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    float: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed #e0e0e0;

    &.active {
        background: rgba(253, 196, 0, 0.1);
        border: 2px dashed $color-yellow-primary;
    }
}
.hiddenInput {
    opacity: 1;
    z-index: -1;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.openDialogWindowLabel {
    color: $color-yellow-primary;
    text-decoration: underline;
    cursor: pointer;
}
.uploadedFilesList {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -20px;
    @include mobiles {
        margin: 0;
    }
    @include tablets {
        margin: 0;
    }
    @include laptops {
        margin: 0;
    }
}
.uploadedFile {
    color: $color-white;
    letter-spacing: 0.05em;
    font-size: 18px;
    line-height: 120%;
    margin: 40px;

    display: flex;
    align-items: center;
    @include mobiles {
        margin: 10px;
    }
    @include tablets {
        margin: 10px;
    }
    @include laptops {
        margin: 10px;
    }
}
.uploadedFileName {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70%;
}
.checkMarkHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: $color-yellow-primary;
    margin-left: 15px;
}
.mobileOpenDialogWindowLabel {
    color: $color-yellow-primary;
    text-decoration: underline;
    cursor: pointer;
}
.mobileDescription {
    margin-bottom: 4px;
    display: none;
    @include mobiles {
        display: block;
    }
}
