@import "../../../styles/config.scss";

.leftSide {
    width: 50%;
    max-width: 570px;
    color: $color-white;
    margin-right: 90px;
    @include mobiles {
        width: unset;
        padding: 0 20px;
        margin-right: 0;
    }
}
.rightSide {
    color: $color-white;
    padding: 0 20px;
    margin-top: 55px;
}
.fontHolder {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include mobiles {
        flex-direction: column;
    }
}
.fontHeader {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 83px;
    margin-bottom: 90px;

    @include mobiles {
        font-size: 26px;
        line-height: 22px;
        color: $color-white;
        margin-bottom: 30px;
    }
}
.fontUpperCase,
.fontLowerCase,
.fontNumber {
    max-width: 560px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 0.11em;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 40px;

    @include mobiles {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 30px;
    }
}
.fontUpperCase {
}
.fontLowerCase {
    text-transform: lowercase;
}
.fontNumber {
    margin-bottom: 0;
}
.fontHdr {
    font-size: 59px;
    font-weight: 700;
    margin: -35px 0;
    margin-bottom: 40px;
    line-height: 80px;
}
.fontTitle {
    font-size: 37px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 44px;
}
.fontSubtitle {
    font-size: 33px;
    font-weight: 400;
    line-height: 44px;
    margin-bottom: 40px;
}
.fontGroup {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include mobiles {
        margin-bottom: 30px;
    }
}
.bodyOne {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 44px;
    color: $color-white;
    margin-bottom: 40px;
    }
.bodyTwo {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    color: $color-white;
    margin-bottom: 40px;
}
.caption {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: $color-white;
    margin-bottom: 40px;
}
.button {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 44px;
    color: $color-white;
    text-transform: uppercase;
}
.paragraphInColumnn {
    display: flex;
}
.paragraphLeft {
    width: 600px;
    color: $color-white;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    @include mobiles {
        width: auto;
    }
}
.paragraphRight {
    width: 600px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;

    @include mobiles {
        width: auto;
    }
}