@import "../../../styles/config.scss";
.wrapper {
    width: 290px;
    height: 172px;

    border: 1px solid $color-white;
    padding: 25px;

    color: $color-white;
    margin-right: 40px;
    &:last-child {
        margin-right: 0;
    }
    @include mobiles {
        margin-bottom: 10px;
        border-radius: 4px;
        width: 100%;
        height: unset;
    }
}
.caption {
    font-weight: 300;
    font-size: 24px;
    line-height: 160%;
    margin-top: 15px;
    @include mobiles {
        font-size: 14px;
        line-height: 16px;
    }
}
.counter {
    font-size: 50px;
    line-height: 140%;
    letter-spacing: 0.05em;
    @include mobiles {
        font-size: 30px;
    }
}
