@import "../../../styles/config.scss";
.wrapper {
    height: 100%;
    background-color: $color-back-primary;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    transition: $transition;
    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
.menuItemWrapper {
    width: 100%;
    max-width: 1280px;

    display: flex;
    justify-content: center;

    @include mobiles {
        flex-direction: column;
    }
}
.menuItem {
    width: 50%;
    padding: 0;
    margin: 0;
    @include mobiles {
        width: 100%;
        padding: 0 40px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    @include tablets {
        padding: 0 80px;
    }
    @include laptops {
        padding: 0 40px;
    }
}
.menuItemListItem {
    margin-bottom: 40px;
    display: block;
    @include mobiles {
        margin-bottom: 16px;
        text-align: center;
    }
}
.menuLink {
    color: $color-yellow-primary;
    font-weight: 300;
    font-size: 64px;
    line-height: 140%;
    letter-spacing: 0.05em;
    font-family: Gotham Pro;

    position: relative;

    @include mobiles {
        font-size: 24px;
        line-height: 28px;
    }
    @include tablets {
        font-size: 34px;
        line-height: 38px;
    }
    @include laptops {
        font-size: 44px;
        line-height: 48px;
    }

    &::before {
        width: 20px;
        height: 20px;

        right: -12px;
        top: -38px;

        content: url(../../../public/yellow-arrow.svg);
        display: block;
        position: absolute;
        @include mobiles {
            display: none;
        }
    }

    &::after {
        height: 2px;
        width: 0;
        content: "";
        display: block;
        position: absolute;
        background-color: $color-yellow-primary;

        transition: $transition;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}
.menuInfoItem {
    color: $color-white;
    font-size: 36px;
    line-height: 160%;
    @include tablets {
        font-size: 24px;
        line-height: 38px;
    }
    @include laptops {
        font-size: 30px;
    }
    @include mobiles {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }
}
.makeOrder {
    padding: 24px 35px;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    border: 2px solid rgba(255, 207, 36, 0.25);
    display: inline-block;
    margin-top: 45px;
    cursor: pointer;
    transition: $transition;

    @include mobiles {
        background: rgba(255, 207, 36, 0.06);
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
    }

    &:hover {
        background-color: rgba(255, 207, 36, 0.25);
        color: #212121;
    }
}

.closeButton {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 74px;
    left: 58px;
    overflow: hidden;

    cursor: pointer;

    @include mobiles {
        width: 24px;
        height: 24px;
        top: 24px;
        left: 14px;
    }
    &::after,
    &::before {
        width: 130%;
        height: 1px;
        display: block;
        content: "";
        background-color: $color-white;
        transform: rotate(45deg);
        top: 16px;
        left: -6px;
        position: absolute;
        transition: $transition;
        @include mobiles {
            top: 12px;
            left: -4px;
        }
    }
    &::before {
        transform: rotate(-45deg);
    }
    &:hover {
        &::after,
        &::before {
            background-color: $color-yellow-primary;
        }
    }
}
