@import "../../../styles/config.scss";

.checkbox,
.markDisabled,
.incomplete {
    width: 30px;
    height: 30px;
    border: 1px solid $color-yellow-primary;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    @include mobiles {
        width: 20px;
        height: 20px;
    }
}

.checked {
    border-color: $color-yellow-primary;
}

.checked + div {
    color: #333333;
}

.disabled {
    border-color: #6d6d6d;
}

.input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    border: 0;
    cursor: pointer;
}

.markDisabled {
    background-color: #6d6d6d;
    position: absolute;
    z-index: 1;
}
.markIcon {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background-color: $color-yellow-primary;
    @include mobiles {
        width: 16px;
        height: 16px;
    }
}
.incomplete {
    border-color: $color-yellow-primary;
    background-color: $color-yellow-primary;
    position: absolute;
    z-index: 3;
    &::before {
        content: "";
        width: 8px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 6px;
        left: 2px;
    }
}
