@import "../../../styles/config";

.root {
}

.outLabel {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 7px;
}

.base {
    border: 1px solid $color-yellow-primary;
    position: relative;
    background: $color-back-primary;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 18px;
    color: $color-white;
    transform: translate(19px, 22px);
    z-index: 1;
    pointer-events: none;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        font-size 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        line-height 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.requiredIndicator {
    color: #ff8414;
}

.input {
    width: 100%;
    height: 65px;
    border: none;
    background: transparent;
    padding: 16px 20px;
    line-height: 140%;
    font-size: 18px;
    outline: none;
    border: 0;
    color: $color-white;
}

.notch {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 12px;
    transform: translate(10px, -9px);
    background: $color-back-primary;
    max-width: 0.01px;
    box-sizing: border-box;
}
.notchContainer {
    visibility: hidden;
    padding: 1px 6px;
}

.focus,
.filled {
    .base {
        border-color: $color-yellow-primary;
    }

    .label {
        font-size: 12px;
        line-height: 14px;
        color: $color-white;
        transform: translate(16px, -8px);
    }

    .notch {
        max-width: none;
    }
}

.helperText {
    font-size: 12px;
    line-height: 14px;
    padding: 8px 18px;
}

.error {
    .base {
        border-color: #ff6767;
    }
    .helperText {
        color: #ff6767;
    }
}

.disabled {
    pointer-events: none;
    .base {
        border-color: #73bbe3;
        background-color: #f9f9ff;
    }
}
