@import "../../../styles/config.scss";
.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.contentHolder {
    width: 100%;
    padding: 20px;
    max-width: 780px;
    background-color: $color-back-primary;
}
