@import "../../../styles/config.scss";
.footer {
    height: 115px;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    @include mobiles {
        height: 80px;
    }
}

.footerSide {
    width: 260px;
    display: flex;
    align-items: center;
    @include mobiles {
        display: none;
    }
    @include tablets {
        width: 200px;
    }
    @include laptops {
        width: 200px;
    }
}

.paginationWrap {
    flex: 1 1 0;
}
.pagination {
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-top: -1px;
}
.paginationLeft, .paginationRight {
    height: 100%;
    width: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent);
    position: absolute;
    left: 0;
    top: 0;
    display: none;

    &.show {
        display: block;
    }
}

.paginationRight {
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3));
}

.toggler {
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 1px;
    transition: left 0.2s ease-out;

    @include mobiles {
        background-color: $color-back-primary;
        z-index: 2;
        width: 100%;
    }
}
.togglerItem {
    position: relative;
    color: $color-white;
    display: flex;
    width: 125px;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    border-top: 1px solid transparent;
    cursor: pointer;
    transition: $transition;
    @include mobiles {
        display: none;
    }
    @include tablets {
        font-size: 14px;
    }
    @include laptops {
        font-size: 14px;
    }
    &:hover {
        color: $color-yellow-primary;
    }
    &.active {
        color: $color-yellow-primary;
        @include mobiles {
            display: flex;
        }
    }
}
.footerActiveItem {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 79px;
    background-color: rgba(255, 207, 36, 0.8)
}
.langToggle {
    color: $color-white;
    text-decoration: underline;
    text-underline-offset: 4px;
    position: absolute;
    left: 0;
    @include mobiles {
        display: none;
    }
    @include tablets {
        font-size: 12px;
    }
    @include laptops {
        font-size: 12px;
    }
}
.copyRight {
    flex: 1 1 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.085em;
    font-weight: 300;
    color: $color-white;
    text-align: right;
    padding-right: 50px;
    @include mobiles {
        font-size: 12px;
        right: unset;
        // display: none;
    }
    @include tablets {
        font-size: 12px;
    }
    @include laptops {
        font-size: 12px;
    }
}


