@import "../../../styles/config.scss";
 .wrapper {
     position: relative;
     right: 0;
     width: 100%;
     height: 205px;
     margin-top: 163px;
 }
 .slider {
     width: 500px;
     border: solid black;
     display: flex;
     flex-direction: row;
     position: absolute;
 }
 .slider2 {
    width: 500px;
    border: solid black;
    display: flex;
    flex-direction: row;
    position: absolute;
}
 .icon {
     //width: 250px;
     height: 250px;
     //margin-right: 221px;
 }
 .animate {
    width: 200%;
    //animation: scroll 5s linear infinite;
}
 @keyframes scroll {
     0% {left: 0};
     100% {left: -100%}
 }
