/*
=============================
Colors
=============================
*/
$color-white: #ffffff;
$color-back-primary: #292929;
$color-yellow-primary: #ffcf24;
$color-yellow-primary-opacity: rgba(255, 207, 36, 0.25);
$color-almost-black: #212121;
$color-background: #E5E5E5;

$transition: all 0.2s ease-out;

/*
=============================
Screens
=============================
*/

$mobile: 768px; // temp size for correct view in tablets
$tablet: 768px;
$laptop: 1024px;
$desktop: 1420px;

@mixin desktops() {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

@mixin laptops() {
    @media screen and (min-width: $laptop) and (max-width: $desktop - 1px) {
        @content;
    }
}

@mixin tablets() {
    @media screen and (min-width: $tablet) and (max-width: $laptop - 1px) {
        @content;
    }
}

@mixin mobiles() {
    @media screen and (max-width: $mobile - 1px) {
        @content;
    }
} ;
