@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");

@font-face {
    font-family: "Gotham Pro";
    src: url("./../public/fonts/GothamProLight.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./../public/fonts/ProximaNova-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./../public/fonts/ProximaNova-Semibold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./../public/fonts/ProximaNova-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./../public/fonts/Lato-Heavy.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./../public/fonts/Lato-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./../public/fonts/Lato-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./../public/fonts/Lato-Thin.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Play Bold";
    src: url("./../public/fonts/PlayBold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Play Regular";
    src: url("./../public/fonts/PlayRegular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./../public/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./../public/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./../public/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("./../public/fonts/Gilroy-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SFUIDisplay";
    src: url("./../public/fonts/SFUIDisplay-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SFUIDisplay";
    src: url("./../public/fonts/SFUIDisplay-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url("./../public/fonts/notosansbold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url("./../public/fonts/notosans.ttf");
    font-weight: 400;
    font-style: normal;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "./config.scss";

html,
body {
    padding: 0;
    margin: 0;
    background-color: $color-back-primary;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    //     "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    //     "Helvetica Neue", sans-serif;

    // Hide scrollbar
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
p {
    margin: 0;
    padding: 0;
}

// styles for project slider (for parallax effect)

.sliderProjects {
}
.sliderProjects .slick-slide > div {
    transform: scale(0.7);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.sliderProjects .slick-center > div {
    transform: scale(1);
}
.sliderProjects.slick-slider {
    margin: 0 -20%;
    @include mobiles {
        margin: 0;
    }
}
