@import "../../../styles/config.scss";
.wrapper {
    background-color: $color-back-primary;

    padding-top: 95px;

    display: flex;
    justify-content: center;
    align-items: center;
    @include mobiles {
        padding: 20px 20px 0;
    }
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    @include mobiles {
        margin-bottom: 10px;
    }
}
.row {
    align-items: flex-start;

    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 30px;
    @include mobiles {
        flex-direction: column;
        margin-bottom: 0;
    }
}
.mainCentering {
    width: 100%;
    max-width: 1280px;
    @include mobiles {
        padding: 0 20px;
    }
    @include tablets {
        padding: 0 20px;
    }
    @include laptops {
        padding: 0 20px;
    }
}
.formTitle {
    letter-spacing: 0.05em;
    color: $color-yellow-primary;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 140%;
    font-family: Gotham Pro;
    @include mobiles {
        font-size: 24px;
    }
}
.formParagraph {
    font-size: 18px;
    line-height: 160%;
    color: $color-white;
}
.holderParagraph {
    margin-bottom: 40px;
}
.formMail {
    color: $color-yellow-primary;
}
.acceptTerms {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 32px;
    @include mobiles {
        display: inline-block;
    }
}
.acceptTermsLabel {
    font-size: 16px;
    line-height: 160%;
    color: $color-white;
    margin-left: 20px;
    max-width: 900px;
    cursor: pointer;
    user-select: none;
    @include mobiles {
        margin-left: 0;
        line-height: 20px;
    }
}
.linkToTerm {
    color: $color-yellow-primary;
    text-decoration: underline;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;

    @include mobiles {
        flex-direction: column;
        align-items: flex-start;
    }
}

.sendButton {
    padding: 24px 38px;
    color: $color-white;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid $color-yellow-primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    position: relative;
    cursor: pointer;

    &:hover {
        background-color: $color-yellow-primary;
    }
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
.sendButtonContain {

}
.sendButtonLoader {
    display: none;
    position: absolute;
    width: 65px;
    height: 65px;
    z-index: 4;

}
.sendButtonLoader span {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    margin: 14px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.sendButtonLoader span:nth-child(1) {
    animation-delay: -0.45s;
}

.sendButtonLoader span:nth-child(2) {
    animation-delay: -0.3s;
}

.sendButtonLoader span:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.sendButton.loading {
    pointer-events: none;


    .sendButtonContain {
        opacity: 0;
    }
    .sendButtonLoader {
        display: inline-block;
    }
}




.dropFilesHolder {
    position: relative;
    min-height: 125px;
    margin-bottom: 28px;
}
.checkBoxHolder {
    float: left;
    margin-right: 10px;
}

.textareaInput {
    height: 130px!important;
    resize: none;
}

.success {
    color: #fff;
    margin-left: 40px;

    @include mobiles {
        margin-left: 0;
        margin-top: 30px;
    }
}
