@import "./../../styles/config.scss";

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    @include mobiles {
        height: unset;
    }
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    align-self: stretch;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.contactsHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1280px;

    @include mobiles {
    }
    @include tablets {
        max-width: 700px;
    }
    @include laptops {
        max-width: 900px;
    }
}
.headerTitle {
    width: 100%;
    font-size: 64px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: $color-yellow-primary;
    margin-bottom: 66px;
    font-family: Gotham Pro;
    @include mobiles {
        font-size: 34px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 20px;
    }
    @include tablets {
        font-size: 28px;
        margin-bottom: 30px;
    }
    @include laptops {
        font-size: 28px;
        margin-bottom: 30px;
    }
}
.contactsItems {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 120px;
    width: 100%;
    @include mobiles {
        flex-wrap: nowrap;
        flex-direction: column;
        padding-bottom: 20px;
    }
}
.contactsItem {
    width: 33%;
    margin-bottom: 57px;
    @include mobiles {
        width: 100%;
        padding: 0 20px;
        margin-bottom: 30px;
    }
    @include laptops {
        width: 30%;
        margin-right: 10px;
    }
    @include tablets {
        width: 30%;
        margin-right: 10px;
    }
}
.contactsCity {
    font-size: 24px;
    line-height: 23px;
    color: $color-yellow-primary;
    font-family: Gotham Pro;
    display: inline-block;
    position: relative;
    cursor: pointer;
    @include mobiles {
        font-size: 18px;
        line-height: 22px;
    }
    @include laptops {
        font-size: 18px;
        line-height: 22px;
    }
    @include tablets {
        font-size: 18px;
        line-height: 22px;
    }
    &::after {
        content: url(../../public/yellow-arrow.svg);
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: -15px;
        right: -18px;
        @include mobiles {
            display: none;
        }
    }
    &::before {
        height: 2px;
        width: 0;
        content: "";
        position: absolute;
        background-color: $color-yellow-primary;
        transition: $transition;

        bottom: -6px;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

.contactsAddress,
.contactsMail,
.contactsPhone {
    font-size: 18px;
    line-height: 160%;
    margin-top: 15px;
    @include mobiles {
        font-size: 14px;
        line-height: 20px;
        margin-top: 5px;
    }
    @include tablets {
        font-size: 14px;
        line-height: 16px;
    }
    @include laptops {
        font-size: 14px;
        line-height: 16px;
    }
}

.contactsAddress {
    color: $color-white;
    max-width: 280px;
}
.contactsMail {
    color: $color-yellow-primary;
}
.contactsPhone {
    color: $color-white;
    margin: 0;
}
